
.ml-auto{
    margin-left: auto !important;
    margin-left: 20px;
  }
  /* .mb-3{
    margin: top 20px;
    margin-left: 20px;
    margin-right: 800px;
    text-decoration-color: rgb(70, 5, 0);
  } */
  /* .gray{
    background-color: lightgray;
  } */
  .mt-5{
    margin-top: -100px !important;
    border: none !important;
  }
  .mt-5:hover{
    border: none !important;
  }
  .mt-4:hover{
    border: none !important;
  }
  .data{
    margin-left: 20px;
    text-decoration: none;
  }
  .textdata:hover{
    color:rgb(0, 0, 0);
  } 
   .textdata {
    /* background-image: linear-gradient(rgba(152,152,158,0.8),rgba(152,152,158,0.8)); */
    background-color: lightgray;
    padding: 50px 0 50px 0;
    height: px;
    background-size: 100% 
  }
  .display2{
    margin-left: 50%;
  }
 .main{
  padding: 20px 100px;
 }